@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    dracula --dracula;
}

:root {
  button {
    cursor: pointer;
  }
  router-link {
    cursor: pointer;
  }
}
